{% extends 'base.html' %}

{% block content%}
<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
        <h2>Manhã</h2>
        {% for talk in morning_talks %}
            {% include 'core/talk_list_snippet.html' with talk=talk only %}

            {% empty %}
            <p>Ainda não existem palestras de manhã.</p>
        {% endfor %}

        <h2>Tarde</h2>
        {% for talk in afternoon_talks %}
            {% include 'core/talk_list_snippet.html' with talk=talk only %}

            {% empty %}
            <p>Ainda não existem palestras de tarde.</p>
        {% endfor %}

        <h3>09:00 - Título do Curso </h3>
        <h4>Por
            <a href="/palestrantes/henrique-bastos">Henrique Bastos</a>
        </h4>
        <p>Descrição do curso.</p>

    </div>
</section>
{% endblock content%}